
.saleh {
    /* main contain majhe anar jonne ai class 2nd div e ai class ase */
    margin: 0 auto;
}

.calcontainer {
    /* ai class ta form er modde kora hoice form er size tik orar jonne */
    
    margin-left: 0;
    margin-top: 30px;
    width: 316px;
}

#panel {
    /* calculator er display er jonne ai id kora hoie */
    text-align: right;
    width: 274px;
    height: 80px;
    font-size: 26px;
    background-color: white;
}

#panel:hover {
    /* calculator er display er jonne ai id kora hoie */
    cursor: col-resize;
}

.bttn {
    /* button gulo ke style korar jonne ai class */
    margin-bottom: 8px;
    margin-left: 5px;
    width: 59px;
    height: 45px;
    font-size: 22px;
}

.bttne {
    /* last er 2 ta button  ke style korar jonne ai class */
    width: 120px;
    margin-top: 10px;
    margin-right: 11px;
}

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
    .nine-cols .col-md-1,
    .nine-cols .col-sm-1,
    .nine-cols .col-lg-1 {
      width: 11.1111111111111111111111111%;
      *width: 11.1111111111111111111111111%;
    }
  }

  .botonesMenuPrincipal {
    border: 2px solid #000; 
    font-family: 'Luckiest Guy', sans-serif; 
    font-size: 24px; 
    letter-spacing:2px; 
    line-height:18px;
    white-space:normal;
    color: black !important; 
    -webkit-text-stroke: 0.5px white;
    font-size: 35px;
  }
 .centradoTotal {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
  }
  .movimientos{
    font-family: Anton, sans-serif; 
    font-size: 50px !important; 
    font-style: normal; 
    color:#000000 !important; 
    -webkit-text-stroke: 1px black;
    text-align: center;
  }
  .blue {
    width: 15%;
    font-size: 20px;
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
  }
  
  .blue:hover {
    background-color: #6FC6FF;
  }